<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>901790882794-pjpdj99m729s0ij15bas1dof53g6mut7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.901790882794-pjpdj99m729s0ij15bas1dof53g6mut7</string>
	<key>API_KEY</key>
	<string>AIzaSyCPZXMse8fLoi13mCZgofqM5vuu8aoYSbw</string>
	<key>GCM_SENDER_ID</key>
	<string>901790882794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.violetars.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-f4e20</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-f4e20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:901790882794:ios:79c57113415c0553ac3093</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-f4e20-default-rtdb.europe-west1.firebasedatabase.app/</string>
</dict>
</plist>
